.size-2{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right, rgba(255,239,0,0.466) 0%, rgba(223,0,60,0.504) 100%);height:125px;}
.cont-13{behavior:url(js/PIE.htc);-pie-background:rgba(223,0,60,0.504);}
.size-21{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right, rgba(255,239,0,0.466) 0%, rgba(223,0,60,0.504) 100%);height:913px;}
.submit{behavior:url(js/PIE.htc);-pie-background:rgba(223,0,60,0.504);}
