html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body,div{font-size:0;}
p,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;pointer-events:auto;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none}}@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
.menu-content {
	cursor: pointer;
	position: relative;
}

li {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#body{background-color:rgb(246,238,228);}
.vis{display:block;vertical-align:top;}
.pos{margin-top:0;top:0;position:-webkit-sticky;position:-moz-sticky;position:-o-sticky;position:-ms-sticky;position:sticky;}
.size{width:100%;min-width:960px;min-height:125px;}
.cont{z-index:46;pointer-events:none;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-top:0;}
.size-2{width:100%;min-width:960px;min-height:125px;}
.cont-2{z-index:47;border:0;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(255,239,0,0.466)), color-stop(1, rgba(223,0,60,0.504)));background-image:-o-linear-gradient(left, rgba(255,239,0,0.466) 0%, rgba(223,0,60,0.504) 100%);background-image:-webkit-linear-gradient(left, rgba(255,239,0,0.466) 0%, rgba(223,0,60,0.504) 100%);background-image:-ms-linear-gradient(left, rgba(255,239,0,0.466) 0%, rgba(223,0,60,0.504) 100%);background-image:linear-gradient(to left, rgba(255,239,0,0.466) 0%, rgba(223,0,60,0.504) 100%);background-clip:padding-box;}
.pos-3{position:relative;margin-top:18px;}
.vis-3{display:block;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-4{position:relative;margin-left:80px;margin-top:0;}
.size-3{min-width:443px;width:443px;min-height:99px;}
.pos-5{position:relative;margin-left:0;margin-top:7px;}
.size-4{min-width:215px;width:215px;min-height:78px;}
.cont-4{z-index:48;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:right;}
.font{font-family:Lato;font-size:36.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:43.20pt;letter-spacing:normal;}
.pos-6{position:relative;margin-left:26px;margin-top:-25px;}
.size-5{min-width:367px;width:367px;min-height:39px;}
.cont-5{z-index:50;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;margin-top:2.34pt;margin-bottom:-2.34pt;padding-right:0;text-align:center;}
.font-2{font-family:Lato;font-size:9.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:16.38pt;letter-spacing:0.50px;}
.pos-7{position:relative;margin-left:228px;margin-top:-99px;}
.size-6{min-width:215px;width:215px;min-height:70px;}
.cont-6{z-index:49;pointer-events:auto;}
.para-3{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font-3{font-family:Lato;font-size:30.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:36.00pt;letter-spacing:normal;}
.pos-8{position:relative;margin-top:-126px;}
.size-7{width:100%;min-width:960px;min-height:800px;}
.cont-7{z-index:3;pointer-events:none;border-top:1px solid rgb(246,238,228);border-bottom:1px solid rgb(246,238,228);overflow:hidden;}
.fixed{background-attachment:fixed;background-image:url(../images/3-960.png);background-color:transparent;background-repeat:no-repeat;background-position:100% 50%;background-size:contain;background-clip:padding-box;}
.pos-9{position:relative;margin-top:137px;}
.pos-10{position:relative;margin-left:0;margin-top:0;}
.size-8{min-width:837px;width:837px;min-height:365px;}
.size-9{min-width:295px;width:295px;min-height:360px;}
.colwrapper{line-height:0;}
.size-10{min-width:105px;width:105px;min-height:127px;}
.cont-8{z-index:8;pointer-events:auto;}
.font-4{font-family:Lato;font-size:78.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(223,0,60,0.504);line-height:94.50pt;letter-spacing:normal;}
.pos-11{position:relative;margin-left:0;margin-top:73px;}
.size-11{min-width:295px;width:295px;min-height:119px;}
.cont-9{z-index:6;pointer-events:auto;}
.para-4{padding-top:0;text-indent:0;margin-top:2.16pt;margin-bottom:-2.16pt;padding-right:0;text-align:left;}
.font-5{font-family:Lato;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(223,0,60,0.504);line-height:18.72pt;letter-spacing:0.50px;}
.para-5{padding-top:0;text-indent:0;margin-top:2.16pt;margin-bottom:-2.16pt;padding-right:0;text-align:justify;}
.font-6{font-family:Lato;font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(128,128,128);line-height:15.12pt;letter-spacing:0.50px;}
.font-7{font-family:"Arial Unicode MS", sans-serif;font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(128,128,128);line-height:16.88pt;letter-spacing:0.50px;}
.size-12{min-width:245px;width:245px;min-height:41px;}
.size-13{min-width:117px;width:117px;min-height:39px;}
.cont-10{z-index:9;pointer-events:auto;}
.para-6{padding-top:0;text-indent:0;margin-top:2.34pt;margin-bottom:-2.34pt;padding-right:0;text-align:left;}
.font-8{font-family:Lato;font-size:9.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(223,0,60,0.504);line-height:16.38pt;letter-spacing:0.50px;}
.vis-4{display:inline-block;vertical-align:top;overflow:visible;}
.pos-12{position:relative;margin-left:25px;margin-top:0;}
.size-14{min-width:103px;width:103px;min-height:41px;height:41px;}
.cont-11{z-index:7;pointer-events:auto;}
.vis-5{display:inline-block;vertical-align:top;}
.menu{padding:0px 0px 0px 0px;}
.menu-link{outline:0;}
.menu-content-vis{display:inline-block;}
.size-15{min-width:103px;width:103px;min-height:41px;}
.cont-12{pointer-events:none;border:0;background-color:rgba(223,0,60,0.504);}
.pos-13{position:relative;margin-left:0;margin-top:10px;}
.size-16{min-width:103px;width:103px;min-height:20px;}
.cont-13{pointer-events:auto;}
.para-7{padding-top:0;text-indent:0;margin-top:0.58pt;margin-bottom:-0.58pt;padding-right:0;text-align:center;}
.font-9{font-family:Lato;font-size:9.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:12.87pt;letter-spacing:5.00px;}
.pos-14{position:relative;margin-left:-241px;margin-top:96px;}
.size-17{min-width:264px;width:264px;min-height:104px;}
.cont-14{z-index:4;pointer-events:auto;}
.font-10{font-family:Lato;font-size:54.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(223,0,60,0.504);line-height:64.80pt;letter-spacing:normal;}
.pos-15{position:relative;margin-left:39px;margin-top:96px;}
.size-18{min-width:480px;width:480px;min-height:269px;}
.para-8{padding-top:0;text-indent:0;margin-top:2.41pt;margin-bottom:-2.41pt;padding-right:0;text-align:justify;}
.pos-16{position:relative;margin-left:357px;margin-top:0;}
.cont-15{z-index:10;pointer-events:auto;}
.cont-16{z-index:27;pointer-events:auto;}
.pos-17{position:relative;margin-left:0;margin-top:1px;}
.size-19{min-width:950px;width:950px;min-height:256px;}
.pos-18{position:relative;margin-left:0;margin-top:51px;}
.size-20{min-width:344px;width:344px;min-height:205px;}
.size-21{min-width:344px;width:344px;min-height:164px;}
.cont-17{z-index:15;pointer-events:auto;}
.cont-18{z-index:17;pointer-events:auto;}
.cont-19{z-index:30;pointer-events:auto;}
.pos-19{position:relative;margin-left:126px;margin-top:0;}
.size-22{min-width:480px;width:480px;min-height:241px;}
.size-23{min-width:480px;width:480px;min-height:200px;}
.cont-20{z-index:14;pointer-events:auto;}
.cont-21{z-index:16;pointer-events:auto;}
.cont-22{z-index:33;pointer-events:auto;}
.pos-20{position:relative;margin-top:-1px;}
.cont-23{z-index:1;pointer-events:none;border:0;overflow:hidden;}
.fixed-2{background-attachment:fixed;background-image:url(../images/1-960.png);background-color:transparent;background-repeat:no-repeat;background-position:100% 50%;background-size:contain;background-clip:padding-box;}
.pos-21{position:relative;margin-top:30px;}
.pos-22{position:relative;margin-left:6px;margin-top:0;}
.size-24{min-width:954px;width:954px;min-height:289px;}
.pos-23{position:relative;margin-left:0;margin-top:21px;}
.size-25{min-width:312px;width:312px;min-height:268px;}
.pos-24{position:relative;margin-left:8px;margin-top:0;}
.size-26{min-width:105px;width:105px;min-height:130px;}
.cont-24{z-index:20;pointer-events:auto;}
.font-11{font-family:Lato;font-size:78.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(38,139,210);line-height:94.50pt;letter-spacing:normal;}
.pos-25{position:relative;margin-left:0;margin-top:56px;}
.size-27{min-width:312px;width:312px;min-height:82px;}
.cont-25{z-index:21;pointer-events:auto;}
.para-9{padding-top:0;text-indent:0;margin-top:2.41pt;margin-bottom:-2.41pt;padding-right:0;text-align:left;}
.font-12{font-family:"Arial Unicode MS", sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(38,139,210);line-height:20.90pt;letter-spacing:0.50px;}
.font-13{font-family:Lato;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(38,139,210);line-height:18.72pt;letter-spacing:0.50px;}
.pos-26{position:relative;margin-left:-254px;margin-top:110px;}
.size-28{min-width:259px;width:259px;min-height:94px;}
.cont-26{z-index:19;pointer-events:auto;}
.font-14{font-family:Lato;font-size:54.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(38,139,210);line-height:64.80pt;letter-spacing:normal;}
.pos-27{position:relative;margin-left:207px;margin-top:0;}
.size-29{min-width:430px;width:430px;min-height:289px;}
.size-30{min-width:430px;width:430px;min-height:226px;}
.cont-27{z-index:18;pointer-events:auto;}
.para-10{padding-top:0;text-indent:0;margin-top:1.65pt;margin-bottom:-1.65pt;padding-right:0;text-align:justify;}
.font-15{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:8.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(128,128,128);line-height:11.55pt;letter-spacing:0.50px;}
.font-16{font-family:"Arial Unicode MS", sans-serif;font-size:8.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(128,128,128);line-height:15.48pt;letter-spacing:0.50px;}
.pos-28{position:relative;margin-left:0;margin-top:22px;}
.size-31{min-width:285px;width:285px;min-height:41px;}
.size-32{min-width:180px;width:180px;min-height:39px;}
.cont-28{z-index:22;pointer-events:auto;}
.font-17{font-family:Lato;font-size:9.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,89,175);line-height:16.38pt;letter-spacing:0.50px;}
.pos-29{position:relative;margin-left:2px;margin-top:0;}
.cont-29{z-index:39;pointer-events:auto;}
.cont-30{pointer-events:none;border:0;background-color:rgb(38,139,210);}
.pos-30{position:relative;margin-left:9px;margin-top:8px;}
.cont-31{z-index:23;pointer-events:auto;}
.cont-32{z-index:12;pointer-events:auto;}
.pos-31{position:relative;margin-left:7px;margin-top:8px;}
.size-33{min-width:945px;width:945px;min-height:385px;}
.pos-32{position:relative;margin-left:0;margin-top:111px;}
.cont-33{z-index:26;pointer-events:auto;}
.pos-33{position:relative;margin-left:-178px;margin-top:0;}
.size-34{min-width:430px;width:430px;min-height:385px;}
.size-35{min-width:430px;width:430px;min-height:111px;}
.cont-34{z-index:24;pointer-events:auto;}
.pos-34{position:relative;margin-left:180px;margin-top:0;}
.cont-35{z-index:36;pointer-events:auto;}
.pos-35{position:relative;margin-left:2px;margin-top:192px;}
.cont-36{z-index:31;pointer-events:auto;}
.cont-37{z-index:45;pointer-events:auto;}
.pos-36{position:relative;margin-left:-427px;margin-top:159px;}
.size-36{min-width:430px;width:430px;min-height:177px;}
.cont-38{z-index:28;pointer-events:auto;}
.para-11{padding-top:0;text-indent:0;margin-top:2.21pt;margin-bottom:-2.21pt;padding-right:0;text-align:justify;}
.pos-37{position:relative;margin-left:80px;margin-top:44px;}
.size-37{min-width:430px;width:430px;min-height:322px;}
.size-38{min-width:430px;width:430px;min-height:275px;}
.cont-39{z-index:25;pointer-events:auto;}
.font-18{font-family:"Arial Unicode MS", sans-serif;font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(128,128,128);line-height:15.68pt;letter-spacing:0.50px;}
.pos-38{position:relative;margin-left:0;margin-top:6px;}
.cont-40{z-index:29;pointer-events:auto;}
.cont-41{z-index:42;pointer-events:auto;}
.pos-39{position:relative;margin-left:0;margin-top:-800px;}
.size-39{min-width:1px;width:1px;min-height:1px;}
.cont-42{z-index:11;pointer-events:none;border:0;overflow:hidden;}
.fixed-3{background-attachment:fixed;background-image:url(../images/1436281700_male3-960.png);background-color:transparent;background-repeat:no-repeat;background-position:100% 50%;background-size:contain;background-clip:padding-box;}
.pos-40{position:relative;margin-top:208px;}
.pos-41{position:relative;margin-left:105px;margin-top:0;}
.size-40{min-width:266px;width:266px;min-height:196px;}
.cont-43{z-index:34;pointer-events:auto;}
.font-19{font-family:Lato;font-size:78.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(203,75,22);line-height:94.50pt;letter-spacing:normal;}
.pos-42{position:relative;margin-left:7px;margin-top:-28px;}
.cont-44{z-index:32;pointer-events:auto;}
.font-20{font-family:Lato;font-size:54.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(203,75,22);line-height:64.80pt;letter-spacing:normal;}
.pos-43{position:relative;margin-left:-246px;margin-top:206px;}
.size-41{min-width:234px;width:234px;min-height:163px;}
.cont-45{z-index:35;pointer-events:auto;}
.font-21{font-family:Lato;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(203,75,22);line-height:18.72pt;letter-spacing:0.50px;}
.pos-44{position:relative;margin-left:-234px;margin-top:370px;}
.cont-46{z-index:37;pointer-events:auto;}
.font-22{font-family:Lato;font-size:9.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(203,75,22);line-height:16.38pt;letter-spacing:0.50px;}
.pos-45{position:relative;margin-left:-367px;margin-top:409px;}
.size-42{min-width:165px;width:165px;min-height:41px;height:41px;}
.cont-47{z-index:13;pointer-events:auto;}
.size-43{min-width:165px;width:165px;min-height:41px;}
.cont-48{pointer-events:none;border:0;background-color:rgb(203,75,22);}
.size-44{min-width:165px;width:165px;min-height:20px;}
.size-45{width:100%;min-width:960px;min-height:913px;}
.cont-49{z-index:2;pointer-events:none;border:0;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(255,239,0,0.466)), color-stop(1, rgba(223,0,60,0.504)));background-image:-o-linear-gradient(left, rgba(255,239,0,0.466) 0%, rgba(223,0,60,0.504) 100%);background-image:-webkit-linear-gradient(left, rgba(255,239,0,0.466) 0%, rgba(223,0,60,0.504) 100%);background-image:-ms-linear-gradient(left, rgba(255,239,0,0.466) 0%, rgba(223,0,60,0.504) 100%);background-image:linear-gradient(to left, rgba(255,239,0,0.466) 0%, rgba(223,0,60,0.504) 100%);background-clip:padding-box;}
.pos-46{position:relative;margin-top:160px;}
.pos-47{position:relative;margin-left:157px;margin-top:0;}
.size-46{min-width:632px;width:632px;min-height:150px;}
.size-47{min-width:200px;width:200px;min-height:150px;height:150px;}
.cont-50{z-index:38;pointer-events:auto;}
.img{position:absolute;left:25px;width:150px;height:150px;top:0;border:0;}
.img-2{left:25px;width:150px;height:150px;top:0;}
.pos-48{position:relative;margin-left:23px;margin-top:0;}
.cont-51{z-index:40;pointer-events:auto;}
.pos-49{position:relative;margin-left:9px;margin-top:0;}
.cont-52{z-index:41;pointer-events:auto;}
.pos-50{position:relative;margin-left:284px;margin-top:189px;}
.size-48{min-width:436px;width:436px;min-height:84px;}
.cont-53{z-index:43;pointer-events:auto;}
.font-23{font-family:"PingFang SC", sans-serif;font-size:36.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:50.40pt;letter-spacing:normal;}
.cont-54{z-index:44;pointer-events:auto;}
.menu-device{background-color:rgb(0,0,0);display:none;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.fixed{background-image:url(../images/3-1920.png);background-attachment:fixed;}
.fixed-2{background-image:url(../images/1-1920.png);background-attachment:fixed;}
.fixed-3{background-image:url(../images/1436281700_male3-1920.png);background-attachment:fixed;}
}
@media (min-width:960px) {
.fixed{background-image:url(../images/3-1200.png);background-attachment:fixed;}
.fixed-2{background-image:url(../images/1-1200.png);background-attachment:fixed;}
.fixed-3{background-image:url(../images/1436281700_male3-1200.png);background-attachment:fixed;}
}
@media (min-width:1200px) {
.fixed{background-image:url(../images/3-1600.png);background-attachment:fixed;}
.fixed-2{background-image:url(../images/1-1600.png);background-attachment:fixed;}
.fixed-3{background-image:url(../images/1436281700_male3-1600.png);background-attachment:fixed;}
}
@media (min-width:1600px) {
.fixed{background-image:url(../images/3-2000.png);background-attachment:fixed;}
.fixed-2{background-image:url(../images/1-2000.png);background-attachment:fixed;}
.fixed-3{background-image:url(../images/1436281700_male3-2000.png);background-attachment:fixed;}
}
