@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff; }

/*高亮粉红*/
/*#df003c;*/
/*高亮蓝色*/
/*#268bd2;*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none; } }
/*顶部*/
#top-bar {
  height: 180px;
  background-image: linear-gradient(to left, #fddd59 0%, #f9601a 100%);
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%; }
  #top-bar .wrap {
    width: 1280px;
    margin: 0 auto;
    animation-duration: .3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: fadeInUp; }
  #top-bar h2 {
    height: 60px;
    line-height: 60px;
    font-size: 54px; }
  #top-bar h3 {
    height: 30px;
    line-height: 30px; }

/*中间部分*/
.middle-content {
  /*粉色高亮样式*/
  /*蓝色高亮样式*/
  /*循环动画*/
  /**/ }
  .middle-content .wrap {
    width: 1320px;
    margin: 0 auto;
    overflow: hidden; }
  .middle-content .content-title {
    line-height: 90px;
    padding: 0 20px;
    color: #666;
    font-size: 54px;
    margin-top: 20px;
    animation-duration: .5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 40px 0; }
    .middle-content .content-wrap .game-item {
      width: 400px;
      height: auto;
      margin: 20px;
      box-sizing: border-box;
      color: #666;
      padding: 20px;
      border-radius: 8px;
      border: 2px dotted #666;
      opacity: 0; }
      .middle-content .content-wrap .game-item .game-title {
        line-height: 40px;
        color: #666;
        font-size: 20px; }
        .middle-content .content-wrap .game-item .game-title .game-name {
          margin-right: 5px; }
        .middle-content .content-wrap .game-item .game-title .version {
          font-size: 14px; }
      .middle-content .content-wrap .game-item .game-dec {
        font-size: 14px;
        line-height: 30px;
        height: auto; }
      .middle-content .content-wrap .game-item .game-update-item {
        font-size: 14px;
        line-height: 26px;
        list-style-position: inside; }
      .middle-content .content-wrap .game-item .download {
        float: right;
        width: 60px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        text-align: center;
        color: #fff;
        background: #666;
        display: block;
        margin-top: 5px;
        text-decoration: none;
        border-radius: 20px;
        transition: background .5s;
        -webkit-transition: background .5s;
        /* Safari 和 Chrome */ }
  .middle-content .pink-style-item {
    background: #fff5f8; }
    .middle-content .pink-style-item .content-title {
      color: #dd577b; }
    .middle-content .pink-style-item .game-item {
      border: 2px dotted #dd577b; }
      .middle-content .pink-style-item .game-item .game-title {
        color: #dd577b; }
      .middle-content .pink-style-item .game-item .download {
        background: #dd577b; }
        .middle-content .pink-style-item .game-item .download:hover {
          background: #df003c; }
  .middle-content .bule-style-item {
    background: #eff7ff; }
    .middle-content .bule-style-item .content-title {
      color: #338fcf; }
    .middle-content .bule-style-item .game-item {
      border: 2px dotted #338fcf; }
      .middle-content .bule-style-item .game-item .game-title {
        color: #338fcf; }
      .middle-content .bule-style-item .game-item .download {
        background: #338fcf; }
        .middle-content .bule-style-item .game-item .download:hover {
          background: #0080d9; }
  .middle-content .content-wrap .game-item:nth-child(1) {
    animation-duration: .5s;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(2) {
    animation-duration: .5s;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(3) {
    animation-duration: .5s;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(4) {
    animation-duration: .5s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(5) {
    animation-duration: .5s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(6) {
    animation-duration: .5s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(7) {
    animation-duration: .5s;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(8) {
    animation-duration: .5s;
    animation-delay: 1.6s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(9) {
    animation-duration: .5s;
    animation-delay: 1.8s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(10) {
    animation-duration: .5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(11) {
    animation-duration: .5s;
    animation-delay: 2.2s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(12) {
    animation-duration: .5s;
    animation-delay: 2.4s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(13) {
    animation-duration: .5s;
    animation-delay: 2.6s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(14) {
    animation-duration: .5s;
    animation-delay: 2.8s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:nth-child(15) {
    animation-duration: .5s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-name: fadeInUp;
    animation-fill-mode: forwards; }
  .middle-content .content-wrap .game-item:hover {
    background: #fff; }

/*屏幕宽小于1320*/
@media screen and (max-width: 1320px) {
  #top-bar .wrap {
    width: auto;
    margin: 0 20px; }
  #top-bar h2 {
    font-size: 36px; }

  .middle-content .wrap {
    width: auto; }

  .content-wrap .game-item {
    width: 100%; } }

/*# sourceMappingURL=layout.css.map */
